# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data & models
data/
images/
*.csv
*.tsv
*.h5
*.pt
*.ckpt

# System files
.DS_Store
Thumbs.db

# Docker and logs
*.log
*.out
